{% extends 'tik/base.html' %}

{% block body-block %}
<div class="container">
<h4> About tik </h4>
<p>What is Tik?</p>
<p> Tik is a Django Powered Website built by Amir Baba and Abrar Wali. In This Website you can Lookup problems
   and solve them using your favourite language and submit the correct answer. The concept of this module
  was taken from <a href="https://projecteuler.net/">Project Euler.</a> This website also provides the
  discussion facility for users. Discussion and Problems module can be viewed by anyone but in order to sumbit
  the answer and to use discussion, user must be registered on the website. This website serves project-based learning approch
  and nothing else.</p>
  <ul>
    <p><a href="https://www.linkedin.com/in/abrarwali/">Abrar Wali</a> - Backend & Front End</p>
    <p><a href="https://www.linkedin.com/in/amir-aslam-baba-569909156/">Amir Baba</a> - Backend   (Amir's Front End for Tik can be found <a href="https://github.com/amirbaba316">here</a> )</p>
  </ul>

</div>
{% endblock %}
