{% extends "Accounts/account_base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
{% endblock %}


{% block body-block %}
<div class="container">

  <h3> Update Profile </h3>
  <form enctype="multipart/form-data" action="{% url 'update_profile' %}" method="post">
{% csrf_token %}
{{ user_form.as_p }}
{{ profile_form.as_p }}
<button type="submit" class="btn btn-outline-dark" name="Update">Update</button>
</form>
</div>
{% endblock %}
