#id_password{
  width: 160px;
  height: 20px;
border-radius: 3px;
}
#id_username{
  width: 160px;
  height: 20px;
  border-radius: 3px;
}

label {
  display: inline-block;
  width: 140px;
}​
.btn{
  background-color: dodgerblue;
}
